### Loops

for temp_var in iterable
    loop_body
for temp_var in range(start,stop,jump)
    loop_body

In [1]:
for temp in [1,2,3,4,5]: print(temp)

1
2
3
4
5

#### Task 1: Write a program that prints "Happy Birthday" five times.

In [2]:
a = "Happy Birthday"
for i in range(5): print(a)

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

####  Task 2: Write a program that takes a number n as input from the user and generate the first n terms of the series from by squaring the natural numbers

In [3]:
n = int(input("Enter the Number: "))
print(f"The First {n} Terms of Series are: ")
for i in range(n): print((i+1)**2)

Enter the Number:  6

The First 6 Terms of Series are:
1
4
9
16
25
36

#### Task 3: Write a program that prompts the user to input a number and prints its multiplication

In [4]:
n = int(input("Enter the Number For Multiplication: "))
for i in range(1,13): print(f"{n} x {i} = {n*i}")

Enter the Number For Multiplication:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

#### Task 4: Print Table from 2 until 5

In [5]:
n = 11
for i in range(2,6):
    for j in range(1,n):
        print(f"{i} x {j} = {i * j}")
    n -= 1
    print("")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35

### Dictionaries

- Key : Value

In [6]:
bio_data = {"first_name" : "Hisham", "last_name" : "Ahmed", "age" : 25, "weight" : 70.5}

In [7]:
bio_data["is_present"] = True

In [8]:
bio_data["is_present"]

True

In [9]:
bio_data.keys()

dict_keys(['first_name', 'last_name', 'age', 'weight', 'is_present'])

In [10]:
bio_data.values()

dict_values(['Hisham', 'Ahmed', 25, 70.5, True])

In [11]:
bio_data.items()

dict_items([('first_name', 'Hisham'), ('last_name', 'Ahmed'), ('age', 25), ('weight', 70.5), ('is_present', True)])

In [12]:
bio_data.get("name")

- Pop()
- Popitem()
- setdefault()
- update

In [13]:
bio_data.pop("first_name")

'Hisham'

In [14]:
bio_data.popitem()

('is_present', True)

In [15]:
bio_data.setdefault("first_name")

In [16]:
bio_data.update(first_name = "Hisham")

In [17]:
bio_data

{'last_name': 'Ahmed', 'age': 25, 'weight': 70.5, 'first_name': 'Hisham'}

### Looping On Dictionaries

In [18]:
for i in bio_data: # By default Keys
    print(i)

last_name
age
weight
first_name

In [19]:
for i in bio_data.values(): # By Values
    print(i)

Ahmed
25
70.5
Hisham

In [20]:
for i in bio_data.items(): # Complete Dictionaries in form of Tuples
    print(i)

('last_name', 'Ahmed')
('age', 25)
('weight', 70.5)
('first_name', 'Hisham')

#### List Comprehension

In [21]:
l = [i**2 for i in range(1, 8, 2)]

In [22]:
l

[1, 9, 25, 49]

#### Dictioanry Comprehension

In [23]:
d = {dc : dc**2 for dc in range(1, 8, 2)}
d

{1: 1, 3: 9, 5: 25, 7: 49}

In [24]:
r = {"Ali" : 80, "Hassan" : 49, "Hisham" : 99}
passed = {name:marks for name,marks in r.items() if marks > 70}
passed

{'Ali': 80, 'Hisham': 99}

#### Task

In [31]:
lst1 = ["Hisham", "Ahmed", 18, 25]
lst2 = ["f_name", "l_name", "age", "weight"]
bio_data = {i[0]:i[1] for i in zip(lst2,lst1)}
bio_data

{'f_name': 'Hisham', 'l_name': 'Ahmed', 'age': 18, 'weight': 25}